h3.
  The Art of Worldly Wisdom is a book by Baltasar Gracián y Morales 
  (a.k.a. Baltasar Gracián). It is a collection of maxims. Oráculo 
  manual y arte de prudencia was written in 1647, and became popular 
  throughout Europe. The book is a collection of 300 maxims, each with 
  a commentary, on various topics giving advice and guidance on how to 
  live fully, advance socially, and be a better person.
  
br
br

h4.
  It was translated by Joseph Jacobs.