#main {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 5% 15% 0;

  background-color: @main-bg;

  overflow-y: scroll;
  overflow-x: hidden;

  .prev-arrow, .next-arrow {
    position: absolute;
    width: 10%;
    top: 40%;
    height: 50%;
    color: @main-text;

    .fa {
      width: 100%;
      font-size: 100px;
      text-align: center;
      opacity: .5;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }

  .prev-arrow {
    left: 0;
  }

  .next-arrow {
    right: 10px;
  }

  .maxim {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    color: @main-text;

    .maxim-numero {
      color: @main-text-dark;
      font-size: 1.8em;
    }

    .maxim-title {
      font-size: 2.6em;
    }

    .maxim-body {
      font-size: 1.3em;
    }
  }

  .maxim {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -3em; 
  }
  .maxim:after {
    content: "";
    display: block;
  }
  #footer, .maxim:after {
    /* must be the same height as footer */
    height: 3em; 
  }
  #footer {
    position: absolute;
    text-align: center;
    width: 100%;
    left: -10px;
    margin: 0 auto;
    color: darken(@main-text, 10%);

    a {
      color: @main-text;
      cursor: pointer;
      text-decoration: none;
      border-bottom: 1px dotted @main-text;

      &:hover {
        border-bottom: none;
        font-weight: bold;
      }

      .fa:hover {
        font-size: 1.2em;
      }
    }
  }

}


/** Mobile Styles **/

@media all and (max-width: 768px) {
  .maxim {
    position: relative;
    width: 90%;
    max-width: 480px;
  }

  .prev-arrow, .next-arrow {
    position: fixed !important;
    width: 5%;
    max-width: 40px;
    margin-top: 20%;
    height: 50%;
    color: @main-text;

    .fa {
      width: 10%;
      font-size: 40px !important;
    }
  }

  .next-arrow {
    margin-right: 10px;
  }

}